<a href="https://colab.research.google.com/github/choycoy/final_project/blob/main/prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/My Drive/final/questions.csv",sep=",")

In [3]:
df['question_id'] = df['question_id'].str.replace('q', '')
df

,question_id,bundle_id,explanation_id,correct_answer,part,tags,deployed_at
0,1,b1,e1,b,1,1;2;179;181,1558093217098
1,2,b2,e2,a,1,15;2;182,1558093219720
2,3,b3,e3,b,1,14;2;179;183,1558093222784
3,4,b4,e4,b,1,9;2;179;184,1558093225357
4,5,b5,e5,c,1,8;2;179;181,1558093228439
...,...,...,...,...,...,...,...
13164,18139,b12202,e12202,b,2,24;26;183;182,1571733814684
13165,18140,b12203,e12203,a,2,24;33;183;182,1571733815331
13166,18141,b12204,e12204,a,2,24;26;183;182,1571733815951
13167,18142,b12205,e12205,a,2,24;26;183;182,1571733816585
13168,18143,b12206,e12206,c,2,27;24;26;183;182,1571733817400

In [4]:
df1 = pd.read_csv("/content/drive/My Drive/final/combined_with_filename__1.csv",sep=",")
print('User Dataset 1 shape : {}'.format(df1.shape))
print(df1)
df2 = pd.read_csv("/content/drive/My Drive/final/combined_with_filename__2.csv",sep=",")
print('User Dataset 1 shape : {}'.format(df2.shape))
print(df2)
df3 = pd.read_csv("/content/drive/My Drive/final/combined_with_filename__3.csv",sep=",")
print('User Dataset 1 shape : {}'.format(df3.shape))
print(df3)

User Dataset 1 shape : (1000000, 6)
            timestamp  solving_id  question_id user_answer  elapsed_time  \
0       1565096190868           1         5012           b         38000
1       1565096221062           2         4706           c         24000
2       1565096293432           3         4366           b         68000
3       1565096339668           4         4829           a         42000
4       1565096401774           5         6528           b         59000
...               ...         ...          ...         ...           ...
999995  1571193159099        8364        10927           a          1000
999996  1571193174066        8365        11948           a          1000
999997  1571193174092        8365        11949           a          1000
999998  1571193174104        8365        11947           a          1000
999999  1571193174169        8365        11950           a          1000

        user_id
0             1
1             1
2             1
3             1
4             1
...         ...
999995    10985
999996    10985
999997    10985
999998    10985
999999    10985

[1000000 rows x 6 columns]
User Dataset 1 shape : (1000000, 6)
            timestamp  solving_id  question_id user_answer  elapsed_time  \
0       1571193190938        8366        10814           a          1250
1       1571193190964        8366        10815           a          1250
2       1571193190979        8366        10812           a          1250
3       1571193191214        8366        10813           a          1250
4       1571193204938        8367        11675           a          1000
...               ...         ...          ...         ...           ...
999995  1564809819658         179         4767           d         23000
999996  1564809849830         180         9037           d         16000
999997  1564809879472         181         4621           c         20000
999998  1564810041056         182         6322           a         29000
999999  1564810093675         183         4200           c         38000

        user_id
0         10985
1         10985
2         10985
3         10985
4         10985
...         ...
999995    11849
999996    11849
999997    11849
999998    11849
999999    11849

[1000000 rows x 6 columns]
User Dataset 1 shape : (1000000, 6)
            timestamp  solving_id  question_id user_answer  elapsed_time  \
0       1564810259022         183         4200           a         13000
1       1564810291636         184         4767           a         14000
2       1564810315442         185        10292           a         16000
3       1564810343780         186         4199           b         16000
4       1564810375447         187         6189           d         21000
...               ...         ...          ...         ...           ...
999995  1567427902612        3156        10020           b         20000
999996  1567428015542        3157        17192           a         14000
999997  1567428333271        3158         5418           b         15000
999998  1567428412553        3159        10020           c          4000
999999  1567431236639        3160         6366           c         31000

        user_id
0         11849
1         11849
2         11849
3         11849
4         11849
...         ...
999995     1283
999996     1283
999997     1283
999998     1283
999999     1283

[1000000 rows x 6 columns]