<a href="https://colab.research.google.com/github/choycoy/final_project/blob/main/prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
q_df = pd.read_csv("/content/drive/My Drive/final/questions.csv",sep=",")

In [3]:
q_df['question_id'] = q_df['question_id'].str.replace('q', '')
q_df

,question_id,bundle_id,explanation_id,correct_answer,part,tags,deployed_at
0,1,b1,e1,b,1,1;2;179;181,1558093217098
1,2,b2,e2,a,1,15;2;182,1558093219720
2,3,b3,e3,b,1,14;2;179;183,1558093222784
3,4,b4,e4,b,1,9;2;179;184,1558093225357
4,5,b5,e5,c,1,8;2;179;181,1558093228439
...,...,...,...,...,...,...,...
13164,18139,b12202,e12202,b,2,24;26;183;182,1571733814684
13165,18140,b12203,e12203,a,2,24;33;183;182,1571733815331
13166,18141,b12204,e12204,a,2,24;26;183;182,1571733815951
13167,18142,b12205,e12205,a,2,24;26;183;182,1571733816585
13168,18143,b12206,e12206,c,2,27;24;26;183;182,1571733817400

In [9]:
df1 = pd.read_csv("/content/drive/My Drive/final/combined_with_filename__1.csv",sep=",")
print('User Dataset 1 shape : {}'.format(df1.shape))
print(df1)
df2 = pd.read_csv("/content/drive/My Drive/final/combined_with_filename__2.csv",sep=",")
print('User Dataset 1 shape : {}'.format(df2.shape))
print(df2)
df3 = pd.read_csv("/content/drive/My Drive/final/combined_with_filename__3.csv",sep=",")
print('User Dataset 1 shape : {}'.format(df3.shape))
print(df3)

User Dataset 1 shape : (1000000, 6)
            timestamp  solving_id  question_id user_answer  elapsed_time  \
0       1565096190868           1         5012           b         38000
1       1565096221062           2         4706           c         24000
2       1565096293432           3         4366           b         68000
3       1565096339668           4         4829           a         42000
4       1565096401774           5         6528           b         59000
...               ...         ...          ...         ...           ...
999995  1571193159099        8364        10927           a          1000
999996  1571193174066        8365        11948           a          1000
999997  1571193174092        8365        11949           a          1000
999998  1571193174104        8365        11947           a          1000
999999  1571193174169        8365        11950           a          1000

        user_id
0             1
1             1
2             1
3             1
4             1
...         ...
999995    10985
999996    10985
999997    10985
999998    10985
999999    10985

[1000000 rows x 6 columns]
User Dataset 1 shape : (1000000, 6)
            timestamp  solving_id  question_id user_answer  elapsed_time  \
0       1571193190938        8366        10814           a          1250
1       1571193190964        8366        10815           a          1250
2       1571193190979        8366        10812           a          1250
3       1571193191214        8366        10813           a          1250
4       1571193204938        8367        11675           a          1000
...               ...         ...          ...         ...           ...
999995  1564809819658         179         4767           d         23000
999996  1564809849830         180         9037           d         16000
999997  1564809879472         181         4621           c         20000
999998  1564810041056         182         6322           a         29000
999999  1564810093675         183         4200           c         38000

        user_id
0         10985
1         10985
2         10985
3         10985
4         10985
...         ...
999995    11849
999996    11849
999997    11849
999998    11849
999999    11849

[1000000 rows x 6 columns]
User Dataset 1 shape : (1000000, 6)
            timestamp  solving_id  question_id user_answer  elapsed_time  \
0       1564810259022         183         4200           a         13000
1       1564810291636         184         4767           a         14000
2       1564810315442         185        10292           a         16000
3       1564810343780         186         4199           b         16000
4       1564810375447         187         6189           d         21000
...               ...         ...          ...         ...           ...
999995  1567427902612        3156        10020           b         20000
999996  1567428015542        3157        17192           a         14000
999997  1567428333271        3158         5418           b         15000
999998  1567428412553        3159        10020           c          4000
999999  1567431236639        3160         6366           c         31000

        user_id
0         11849
1         11849
2         11849
3         11849
4         11849
...         ...
999995     1283
999996     1283
999997     1283
999998     1283
999999     1283

[1000000 rows x 6 columns]

In [10]:
df = pd.concat([df1, df2, df3])

In [11]:
df

,timestamp,solving_id,question_id,user_answer,elapsed_time,user_id
0,1565096190868,1,5012,b,38000,1
1,1565096221062,2,4706,c,24000,1
2,1565096293432,3,4366,b,68000,1
3,1565096339668,4,4829,a,42000,1
4,1565096401774,5,6528,b,59000,1
...,...,...,...,...,...,...
999995,1567427902612,3156,10020,b,20000,1283
999996,1567428015542,3157,17192,a,14000,1283
999997,1567428333271,3158,5418,b,15000,1283
999998,1567428412553,3159,10020,c,4000,1283
999999,1567431236639,3160,6366,c,31000,1283

In [39]:
q_df

,question_id,bundle_id,explanation_id,correct_answer,part,tags,deployed_at
0,1,b1,e1,b,1,1;2;179;181,1558093217098
1,2,b2,e2,a,1,15;2;182,1558093219720
2,3,b3,e3,b,1,14;2;179;183,1558093222784
3,4,b4,e4,b,1,9;2;179;184,1558093225357
4,5,b5,e5,c,1,8;2;179;181,1558093228439
...,...,...,...,...,...,...,...
13164,18139,b12202,e12202,b,2,24;26;183;182,1571733814684
13165,18140,b12203,e12203,a,2,24;33;183;182,1571733815331
13166,18141,b12204,e12204,a,2,24;26;183;182,1571733815951
13167,18142,b12205,e12205,a,2,24;26;183;182,1571733816585
13168,18143,b12206,e12206,c,2,27;24;26;183;182,1571733817400

In [19]:
import pandas as pd

# Assuming you have two dataframes: df1 and df2

# Convert the 'question_id' column in df1 and df2 to the same data type (e.g., int64)
df['question_id'] = df['question_id'].astype('int64')
q_df['question_id'] = q_df['question_id'].astype('int64')

# Merge the dataframes on 'question_id'
merged_df = pd.merge(df, q_df[['question_id', 'correct_answer']], on='question_id', how='left')

# Create the 'is_correct' column based on the comparison between 'user_answer' and 'correct_answer'
merged_df['is_correct'] = (merged_df['user_answer'] == merged_df['correct_answer']).astype(int)

# Now merged_df will have a new column 'is_correct' indicating if the user_answer is correct or not
print(merged_df)

             timestamp  solving_id  question_id user_answer  elapsed_time  \
0        1565096190868           1         5012           b         38000
1        1565096221062           2         4706           c         24000
2        1565096293432           3         4366           b         68000
3        1565096339668           4         4829           a         42000
4        1565096401774           5         6528           b         59000
...                ...         ...          ...         ...           ...
2999995  1567427902612        3156        10020           b         20000
2999996  1567428015542        3157        17192           a         14000
2999997  1567428333271        3158         5418           b         15000
2999998  1567428412553        3159        10020           c          4000
2999999  1567431236639        3160         6366           c         31000

         user_id  is_correct correct_answer
0              1           0              c
1              1           1              c
2              1           1              b
3              1           0              c
4              1           0              d
...          ...         ...            ...
2999995     1283           0              c
2999996     1283           1              a
2999997     1283           1              b
2999998     1283           1              c
2999999     1283           0              d

[3000000 rows x 8 columns]

In [24]:
avg_elapsed_time = df.groupby('user_id')['elapsed_time'].mean().reset_index()
avg_elapsed_time.rename(columns={'elapsed_time': 'avg_elapsed_time'}, inplace=True)
avg_elapsed_time

      user_id  avg_elapsed_time
0           1      49578.441774
1          11      20242.856655
2          12      51406.779661
3         102      21586.206897
4         103      23571.428571
...       ...               ...
2843    12825      34666.666667
2844    12826      40045.378788
2845    12827      19368.975983
2846    12828      34653.594655
2847    12829      19771.900826

[2848 rows x 2 columns]

In [28]:
correctness_rate = df.groupby('user_id')['is_correct'].mean().reset_index()
correctness_rate.rename(columns={'is_correct': 'correctness_rate'}, inplace=True)
correctness_rate

      user_id  correctness_rate
0           1          0.695933
1          11          0.688742
2          12          0.525424
3         102          0.275862
4         103          0.857143
...       ...               ...
2843    12825          0.333333
2844    12826          0.772727
2845    12827          0.497817
2846    12828          0.655902
2847    12829          0.833058

[2848 rows x 2 columns]

In [22]:
# Assuming you have the dataframe df containing student interactions with columns: timestamp, solving_id, question_id, user_answer, elapsed_time, user_id, and is_correct (1 for correct, 0 for incorrect).

# Sort the dataframe by timestamp to ensure the data is in chronological order
merged_df.sort_values(by=['user_id', 'timestamp'], inplace=True)

# Calculate Correctness Rate and Interaction Count for each user
merged_df['correct_count'] = merged_df.groupby('user_id')['is_correct'].cumsum()  # Cumulative sum of correct answers for each user
print(merged_df['correct_count'])

merged_df['interaction_count'] = merged_df.groupby('user_id').cumcount() + 1  # Cumulative count of interactions for each user
print(merged_df['interaction_count'])

merged_df['correctness_rate'] = merged_df['correct_count'] / merged_df['interaction_count']  # Calculate the correctness rate for each interaction

# Calculate average, minimum, and maximum elapsed time for each user
merged_df['average_elapsed_time'] = merged_df.groupby('user_id')['elapsed_time'].transform('mean')
merged_df['min_elapsed_time'] = merged_df.groupby('user_id')['elapsed_time'].transform('min')
merged_df['max_elapsed_time'] = merged_df.groupby('user_id')['elapsed_time'].transform('max')

# Drop unnecessary columns if needed
merged_df.drop(['correct_count', 'interaction_count'], axis=1, inplace=True)

# Now df will have the newly created features: correctness_rate, average_elapsed_time, min_elapsed_time, max_elapsed_time, and other original columns.

0            0
1            1
2            2
3            2
4            2
          ...
2994680    503
2994681    503
2994682    504
2994683    504
2994684    504
Name: correct_count, Length: 3000000, dtype: int64
0            1
1            2
2            3
3            4
4            5
          ...
2994680    601
2994681    602
2994682    603
2994683    604
2994684    605
Name: interaction_count, Length: 3000000, dtype: int64

In [23]:
merged_df['next_is_correct'] = merged_df['is_correct'].shift(-1)

In [24]:
merged_df

,timestamp,solving_id,question_id,user_answer,elapsed_time,user_id,correct_answer,is_correct,correctness_rate,average_elapsed_time,min_elapsed_time,max_elapsed_time,next_is_correct
0,1565096190868,1,5012,b,38000,1,c,0,0.000000,49578.441774,666,1200000,1.0
1,1565096221062,2,4706,c,24000,1,c,1,0.500000,49578.441774,666,1200000,1.0
2,1565096293432,3,4366,b,68000,1,b,1,0.666667,49578.441774,666,1200000,0.0
3,1565096339668,4,4829,a,42000,1,c,0,0.500000,49578.441774,666,1200000,0.0
4,1565096401774,5,6528,b,59000,1,d,0,0.400000,49578.441774,666,1200000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994680,1571046992365,601,1245,b,18000,12829,c,0,0.836938,19771.900826,5000,122000,0.0
2994681,1571047327427,602,9546,d,59000,12829,c,0,0.835548,19771.900826,5000,122000,1.0
2994682,1571047392304,603,9374,d,29000,12829,d,1,0.835821,19771.900826,5000,122000,0.0
2994683,1571047454176,604,9814,b,26000,12829,a,0,0.834437,19771.900826,5000,122000,0.0
2994684,1571047536575,605,6507,b,37000,12829,d,0,0.833058,19771.900826,5000,122000,NaN

In [25]:
merged_df.dropna(subset=['next_is_correct'], inplace=True)

In [26]:
merged_df

,timestamp,solving_id,question_id,user_answer,elapsed_time,user_id,correct_answer,is_correct,correctness_rate,average_elapsed_time,min_elapsed_time,max_elapsed_time,next_is_correct
0,1565096190868,1,5012,b,38000,1,c,0,0.000000,49578.441774,666,1200000,1.0
1,1565096221062,2,4706,c,24000,1,c,1,0.500000,49578.441774,666,1200000,1.0
2,1565096293432,3,4366,b,68000,1,b,1,0.666667,49578.441774,666,1200000,0.0
3,1565096339668,4,4829,a,42000,1,c,0,0.500000,49578.441774,666,1200000,0.0
4,1565096401774,5,6528,b,59000,1,d,0,0.400000,49578.441774,666,1200000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994679,1571046897932,600,1095,c,16000,12829,c,1,0.838333,19771.900826,5000,122000,0.0
2994680,1571046992365,601,1245,b,18000,12829,c,0,0.836938,19771.900826,5000,122000,0.0
2994681,1571047327427,602,9546,d,59000,12829,c,0,0.835548,19771.900826,5000,122000,1.0
2994682,1571047392304,603,9374,d,29000,12829,d,1,0.835821,19771.900826,5000,122000,0.0
2994683,1571047454176,604,9814,b,26000,12829,a,0,0.834437,19771.900826,5000,122000,0.0

In [29]:
merged_df.to_csv("/content/drive/My Drive/final/xxx.csv")

In [28]:
features = ['correctness_rate', 'average_elapsed_time', 'min_elapsed_time', 'max_elapsed_time']

In [31]:
from sklearn.model_selection import train_test_split

X = merged_df[features]
y = merged_df['next_is_correct']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42)

In [ ]:
model.fit(X_train, y_train)

In [31]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

Accuracy: 0.56583
Precision: 0.6738055084371845
Recall: 0.6832582672154944
F1-score: 0.678498965774287

In [34]:
# Assuming you have a new_data dataframe with the same features as X_test
new_data_predictions = model.predict(merged_df[features])